body {
  background: tan;
}

.wrapper{
  margin:auto;
  width: 23em;
}

h1, h2{
  text-align: center
}

#status {
  text-align: center;
  margin-top: 0.25em;
}

#GameState {
  margin: auto;
  width: 10em;
  display: block;
  background: beige;
  border: solid black 3px;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
}

#gameBoard {
  width: 23em;
  height: 23em;
  background: black;
}
#gameBoardInner {
  padding:0.5em;
  display: flex;
  flex-flow: row wrap;
}

.color {
  width: 10em;
  height: 10em;
  margin: 0.5em;
}

.color:not(.disabled){
  cursor: pointer;
}

#Green {
  background:green;
}
#Green.active, #Green:active:not(.disabled) {
  background: #1aff1a;
}
#Yellow {
  background:yellow;
}
#Yellow.active, #Yellow:active:not(.disabled) {
  background: #ffff99;
}
#Red {
  background:red;
}
#Red.active, #Red:active:not(.disabled) {
  background: #ff9999;
}
#Blue {
  background:blue;
}
#Blue.active, #Blue:active:not(.disabled) {
  background: #9999ff;
}
